.table-fondo {
    width: 1200px; /* Quita "Fixed" del valor */
    height: 56px; /* Quita "Fixed" del valor */
    padding: 5px;
    border-radius: 5px;
    background: #077c0a;
    border-collapse: collapse;

    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

thead{
  border-bottom: solid 3px #000000;
}

tr:nth-child(event){
  background-color: #882727;
}

.tbody-fondo {
  background: #ffffff; /* Cambia este valor al color que desees para el fondo del tbody */
  color: black;
  border: solid 1px #b7b7b7;
}

.texto{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    width: 85px;
    height: 36px;
    color: #555555;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-centered {
  width: 100%; /* Opcional: Utiliza el ancho que desees */
  max-width: 1200px; /* Ancho máximo para la tabla */
  margin: 0 auto; /* Centrar la tabla */
}

.card{
  width: 100%;
  max-width: 1202px;
  margin: 0 auto;
  padding: 0px;
  border: 0;
  margin-top: 101.5px;
}

.titulo {

  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}