<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-light table-fondo">
                <thead class="table-fondo">
                    <tr>
                        <th scope="col" class="table-fondo">Tipo de documento <br>de identidad</th>
                        <th scope="col" class="table-fondo">Número de documento <br>de identidad</th>
                        <th scope="col" class="table-fondo">Nombre</th>
                        <th scope="col" class="table-fondo">Tipo - cargo</th>
                        <th scope="col" class="table-fondo">Fecha inicial</th>
                        <th scope="col" class="table-fondo">Fecha final</th>
                        <th scope="col" class="table-fondo">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="texto">CC</td>
                        <td class="texto">115321</td>
                        <td class="texto">Juan</td>
                        <td class="texto">Si</td>
                        <td class="texto">hoy</td>
                        <td class="texto">Mañana</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" >
                        <a 
                        class="page-link"
                        >
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>